@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(/img/background2.jpg);
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
}
#header{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dark-mode{
    background-color: rgb(51, 48, 48);
    color: #FFCCCC;
}
i{
    font-size: 30px;
}
.head-contain{
    padding: 15px 15px;
}
.head-contain .logo a{
    font-family: 'Beau Rivage', cursive;
    font-size: 40px;
    text-decoration: none;
    color: black;
}
.head-contain .logo a:hover{
    color: rgb(150, 167, 236);;
}
.head-contain ol button{
    font-size: 30px;
}
.head-contain ol li{
    font-family: 'Press Start 2P', cursive;
    display: inline;
    margin: 20px 30px;
}
.head-contain ol li a{
    text-decoration: none;
    color: black;
}
.head-contain ol li a:hover{
    color: rgb(150, 167, 236);
}
#icon{
    width: 30px;
    cursor: pointer;
}
/* Cooking */
#cook{
    padding: 10px 10px;
}
.cook-1 img{
    width: 400px;
    height: 550px;
    float: right;   
    margin-right: 20px;
}
.cook-2 img{
    width: 400px;
    height: 550px;
    float: left;  
    margin-left: 20px;
}
.cook-text{
    text-align: center;
    margin-left: 20px;
}